<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="BoardDAO">  
	
	<!-- 총 레코드 수 -->
	<select id="getBoardCount" resultType="integer">
		SELECT 
			COUNT(*)
		FROM spboard
	</select>
	
	<!-- 목록 -->
	<select id="getBoardList" resultType="boardVO" parameterType="map">
		SELECT 
			*
		FROM (SELECT 
				a.*,
				rownum rnum
			  FROM (SELECT
			  			*
			  		FROM spboard
			  		ORDER BY num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>

  	<!-- 글쓰기 -->
  	<insert id="insertBoard" parameterType="boardVO">
  		INSERT INTO spboard (
  			num,
  			writer,
  			title,
  			passwd,
  			content,
  			reg_date)
  		VALUES (
  			spboard_seq.nextval,
  			#{writer},
  			#{title},
  			#{passwd},
  			#{content},
  			SYSDATE)
   	</insert>
  	
  	<!-- 글 상세 -->
  	<select id="getBoard" resultType="boardVO" parameterType="integer">
  		SELECT 
  			*
  		FROM spboard
  		WHERE num = #{num}
  	</select>
  	
  	<!-- 글 수정 -->
  	<update id="updateBoard" parameterType="boardVO">
  		UPDATE spboard
  		SET
  			writer=#{writer},
  			title=#{title},
  			content=#{content}
  		WHERE
  			num=#{num}
		  			
  	</update>
  	
  	<!-- 글 삭제 -->
  	<delete id="deleteBoard" parameterType="integer">
  		DELETE FROM spboard
  		WHERE 
  			num=#{num}
  	</delete>
  	
  	
</mapper>







